table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

td, th {
    text-align: center;
    border: 1px solid #ada4a4;
    text-align: left;
    padding: 14px;
}
table th{
    background-color: #dddddd;
}
td:first-child{
    background-color: #EAEAEA;
}
table td:nth-child(2){
    background-color: #EAEAEA;
}
tr:nth-child(even) {
    background-color: #EAEAEA;
}
td:nth-child(3) {
    background-color: #EAEAEA;
}
table th:first-child{
    background-color: #fff;
}
table th:nth-child(2){
    background-color: #fff;
}