table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}
p{
    text-align: center;
}
td, th {
    text-align: center;
    border: 1px solid #ada4a4;
    padding: 14px;
}
table th{
    background-color: #dddddd;
}
td:first-child{
    background-color: #EAEAEA;

}

tr:nth-child(even) {
    background-color: #EAEAEA;
}

table th:first-child{
    background-color: #fff;
}
table th:nth-child(2){
    background-color: #fff;
}